.vscode/
*.code-workspace
# Python virtual environments
.venv/
venv/
env/

# IPython checkpoints & caches
__pycache__/
.ipynb_checkpoints/
*.py[cod]

# Other local files
.mypy_cache/
.pytest_cache/

.envrc
.venv
.direnv

*.egg-info